@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto;
  }
}
.grid {
  grid-auto-rows: minmax(0, 1fr);
}